* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 100px;
    color: #DC8166;
    margin: 20px;
}

p {
    font-size: 24px;
    font-weight: 500;
    margin: 20px;
    padding: 10px;
    color: white;
}

#match-success {
    font-size: 24px;
    /* color: #B74B2A; */
    color: #4D7DA8;
    font-weight: 600;
}

#results {
    font-size: 40px;
    color: #759DC0;
    /* color: #96AFC5; */
    font-weight: 900;
    }

body {
    height: 100vh;
    margin: 10px;
    background: #211C1D;
    display: flex;
    align-items: center;
}

button {
    width: 60px;
    height: 60px;
    margin: 20px;
    border: 0px;
    border-radius: 100%;
    background-color: #5F5253;
    color: white;
    font-size: 18px;
}

.board-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.tally-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transition: 1s;
}

.cardFront,
.cardBack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #96AFC5;
    border-radius: 5%;
    backface-visibility: hidden;
    height: 200px;
    width: 200px;
}

.cardBack {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(.9);
    transition: transform .2s;
}

/* why isn't this media query working?? i don't see any responsive design occuring */
@media (max-width: 600px) {
    .board-container {
        grid-template-columns: repeat(2, auto);
    }
    .tally-container {
        flex-direction: column;
        align-items: center;
    }
}